#wrapper {
	width: 1030px;
	height: 900px;
	margin: 0 auto;
	background-color: #E0F5FF;
}
img {
	max-width: 6.25%;
	max-height: 6.25%;
	float: left;
	margin: 10px 5px 0 10px;
	
}
h1#brandName {
	font-size: 15pt;
	margin: 25px 0 -10px 15px;
}
h1#brandName a {
	text-decoration: none;
	color: white;
}
.larger {
	font-size: 1.4em;
}
#org {
	color: #808080;
}
#special:hover{
	text-shadow: 0 0 1px white, 0 0 1px white;
	/*creates "bold" effect w/o moving items*/
}

a:hover {
	color:white;
}
#current:hover {
	color: #808080;
}
nav {
	background-color: #4c4c4c;
	overflow: hidden;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	float: right;
	margin: 0 10px 0 0;
}
nav ul li a {
	display: block;
	text-decoration: none;
	color: #808080;
	margin: 10px 5px 5px 5px;	
}
#active {
	background-color: #E0F5FF;
	border: 1px solid #E0F5FF;
	border-radius: .25em .25em 0 0;
	padding: -10px -5px 0 -5px;
}
#special {
	color: white;
	background-color: #E62E00;
	border: 1px solid #E62E00;
	border-radius: .25em .25em 0 0;
	margin: 0 20px 0 0;
	padding: -10px -5px 0 -5px;
}
li#special a { color: white; }
